<div class="container main_color">
        <h3 class="d-flex justify-content-center">コメント一覧</h3>
    <div class="row">
        <div>
            <% @post.comments.each do |comment| %>
                <div class="comment">
                    <h5><%= comment.member.nickname %></h5>
                    <p><%= comment.comment %></p>
                    <% if comment.member == current_member %>
                        <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>