
<% @friends.each do |friend| %>
    <tr>
        </td>
        <td class="text-center align-middle"><%= friend.nickname %></td>
        <!--ログインユーザーでない場合にフォローボタン表示-->
        <% if friend != current_member %>
            <td class="text-center align-middle"><% if current_member.following?(friend) %>
            <%= link_to "Unfollow", member_favorites_path(friend), method: :delete %>
        <% else %>
            <%= link_to "Follow", member_favorites_path(friend), method: :post %>
        <% end %>
            </td>
        <% end %>
        </td>
    </tr>
<% end %>
