* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-position: center;
  /*background-image: url("takebe.jpg");*/
  background-color:rgba(255,255,255,0.8);
  height: 100%;
}