* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #FFFFEE;
  height: 20%;
}

.background-image {
  background: url(2.jpg);
  height: 500px;
  position: relative;     
  background-position: center;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.background-image::before {
    background: inherit;
    content: '';
    position: absolute;
    filter: blur(5px);
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
}

.background-image2 {
  background: url(takebe.jpg);
  height: 500px;
  position: relative;     
  background-position: center;
  justify-content: center;
  align-items: center;
  z-index: 1;
}